/*#app {
    width: 800px;
    padding: 20px;
}*/

#dashboardHeader li {
    margin: 0px;
}
.title{
    color: white;
    font-weight: bold;
    list-style-type: none;
    font-size: 175%;
    
    margin-right: 2%;
    float: right;
}
nav{
    margin: 5% 0%;
}

li{
    list-style: none;
}
.heading-nav{
    background-color: #002B49;
   
}
h4{
    margin-top: 2.5%;
    margin-left: 1%;
}
button{
    background-color: #002b49;
    border-color: #002b49;
    margin-left: 2%
}
button:hover{
    background-color:#002b49;
    border-color:#002b49;
    margin-left: 2%;
}
